# Database Configuration
MONGODB_URI=mongodb://localhost:27017
# Server Configuration
PORT=3000
NODE_ENV=production
GMAIL_PASS = 
GMAIL_USER = 
# For Docker Compose (use these values when running with docker-compose)
# DATABASE_URL="postgresql://gdgc_user:gdgc_password@postgres:5432/gdgc_db?schema=public"
CRYPTO_KEY =  
# For crypto key use randomBytes from crypto lib. to generate a 32 bytes key then convert it to hex using toStirng('hex')